UnitsTestsConsole/obj/project.assets.json
UnitsTestsConsole/obj/project.nuget.cache
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.dgspec.json
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.g.props
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.g.targets
UnitsTests/obj/project.assets.json
UnitsTests/obj/project.nuget.cache
UnitsTests/obj/UnitsTests.csproj.nuget.dgspec.json
UnitsTests/obj/UnitsTests.csproj.nuget.g.props
UnitsTests/obj/UnitsTests.csproj.nuget.g.targets
